@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
body {
  position: relative;
  overflow-y: scroll;
  font-family: 'Lato', sans-serif;
}
.header-transparent {
  background: rgba(42, 44, 57, 0.1);
}
section h3 {
  padding-bottom: 10px;
  color: #e50a15;
  font-weight: bold;
}


.navbar-nav .nav-link.active {
  background-color: #e50a15;
  color: #fff;
}
@media (max-width: 768px) {
  #equipo .card {
    margin-left: auto;
    margin-right: auto;
  }
}
